html,
body {
  background: #000000;
  color: white;
  padding: 0;
  margin: 0;
  font-family: Inter, -apple-system, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
