.container {
  max-height: 100vh;
  min-height: 100vh;
  max-width: 100vw;
  min-width: 100vw;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  padding: 2rem 1rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {
  width: 100%;
  height: 100px;
  border-top: 1px solid #191919;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer img {
  margin-left: 0.5rem;
}

.footer a {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tweet {
  margin: 30px 0;
  width: 100%;
}

.title a {
  color: #0070f3;
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
  letter-spacing: -0.02em;
}

.description {
  line-height: 1.5;
  font-size: 1.5rem;
}

.title,
.description {
  text-align: center;
}

.logo {
  height: 1em;
}

@media (max-width: 768px) {
  .container {
    min-height: -webkit-fill-available;
  }

  .main {
    padding: 1rem;
  }

  .title {
    font-size: 3.5rem;
  }

  .description {
    font-size: 1.25rem;
  }
}
